<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welkom</title>
</head>
<body>
<h1>Welkom op fao.vuma.be</h1>
<h2>Dit is momenteel nog een MVP. Functionaliteit is enorm beperkt.</h2>
<a href="https://github.com/matthias-vd/jaarrekening-analyse">Kijk ook zeker eens in de GitHub-repo van dit "platform"!</a>
<h2>Werkt momenteel:</h2>
<h3>"Dictionary" balans</h3>
<a href="/structuren">Gedeeltelijke structuur balans</a>
<h3>Viewer balans, met input</h3>
<a href="/balans">Balans-viewer, met input</a>

<h4>Dit is een project door Winter van den Bulck en Matthias Van Duysen.</h4>

</body>
</html>